language: ruby
rvm:
  - 2.2.4
  - 2.3.1
gemfile:
  - gemfiles/rails4_1.gemfile
  - gemfiles/rails4_2.gemfile
matrix:
  exclude:
  - rvm: 2.2.4
    gemfile: gemfiles/rails4_2.gemfile
  - rvm: 2.3.1
    gemfile: gemfiles/rails4_1.gemfile
script:
  - bundle exec rubocop
  - bundle exec rspec
